*.pyc
exbar
prospex
ns-allinone-3.26

\.idea/codeStyles/codeStyleConfig\.xml

\.idea/codeStyles/Project\.xml

\.idea/inspectionProfiles/Project_Default\.xml

\.idea/misc\.xml

\.idea/modules\.xml

\.idea/tbmg\.iml

\.idea/vcs\.xml

\.idea/workspace\.xml
